<ul class="sidebar navbar-nav">
    <li class="nav-item dropdown">
        @*<a class="nav-link" href="~/Admin/Template/Header">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Template</span>
        </a>*@
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa fa-cog"></i>
            <span>Template</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <a class="dropdown-item" href="~/Admin/Template/Navigation">Navigation</a>
            <a class="dropdown-item" href="~/Admin/Template/Header">Header</a>
            <a class="dropdown-item" href="~/Admin/Template/AboutSection">AboutSection</a>
            <a class="dropdown-item" href="~/Admin/Template/Portfolio">Portfolio</a>
            <a class="dropdown-item" href="~/Admin/Template/ContactSection">ContactSection</a>
            <a class="dropdown-item" href="~/Admin/Template/Social">Social</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa fa-briefcase"></i>
            <span>Manager</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <h6 class="dropdown-header">Job:</h6>
            <a class="dropdown-item" href="login.html">Real</a>
            <a class="dropdown-item" href="register.html">Table</a>
            <a class="dropdown-item" href="forgot-password.html">Order</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Employees:</h6>
            <a class="dropdown-item" href="404.html">Service staff</a>
            <a class="dropdown-item" href="blank.html">Delevery staff</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="charts.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Charts</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="tables.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Tables</span>
        </a>
    </li>
</ul>
